In [47]:
import pandas as pd

df = pd.read_csv(
    'G:\.shortcut-targets-by-id\\1GLhesaekxPRKr-lkNYX-mtfouqJhqhXN\SIBEUX\KULIAH\__UNEJ__\Algorithm_Programming\PEMROGRAMAN\Main_Program\\financial.csv')

df

,Segment,Country,Product,DiscountBand,UnitsSold,ManufacturingPrice,SalePrice,GrossSales,Discounts,Sales,COGS,Profit,Date,MonthNumber,MonthName,Year
0,Government,Canada,Carretera,None,1618.5,3,20,32370.0,NaN,32370.00,16185.0,16185.00,01/01/2014,1,January,2014
1,Government,Germany,Carretera,None,1321.0,3,20,26420.0,NaN,26420.00,13210.0,13210.00,01/01/2014,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,3,15,32670.0,NaN,32670.00,21780.0,10890.00,01/06/2014,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,3,15,13320.0,NaN,13320.00,8880.0,4440.00,01/06/2014,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,3,15,37050.0,NaN,37050.00,24700.0,12350.00,01/06/2014,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Small Business,France,Amarilla,High,2475.0,260,300,742500.0,111375.00,631125.00,618750.0,12375.00,01/03/2014,3,March,2014
696,Small Business,Mexico,Amarilla,High,546.0,260,300,163800.0,24570.00,139230.00,136500.0,2730.00,01/10/2014,10,October,2014
697,Government,Mexico,Montana,High,1368.0,5,7,9576.0,1436.40,8139.60,6840.0,1299.60,01/02/2014,2,February,2014
698,Government,Canada,Paseo,High,723.0,10,7,5061.0,759.15,4301.85,3615.0,686.85,01/04/2014,4,April,2014
699,Channel Partners,United States of America,VTT,High,1806.0,250,12,21672.0,3250.80,18421.20,5418.0,13003.20,01/05/2014,5,May,2014

In [54]:
cf = df.loc[ (df["MonthName"] == "April") & (df["Year"] == 2014)]
# cf[['MonthName', 'Year']]

ef = df.loc[ (df["MonthName"] == "June") & (df["Year"] == 2014)]
# ef[['MonthName', 'Year']]

frames = [cf,ef]
result = pd.concat(frames)
result[["MonthName","Year"]]

    MonthName  Year
39      April  2014
46      April  2014
47      April  2014
69      April  2014
75      April  2014
..        ...   ...
599      June  2014
600      June  2014
601      June  2014
606      June  2014
609      June  2014

[105 rows x 2 columns]