In [15]:
import pandas as pd
import numpy as np

# print(pd.__version__)
# print(np.__version__)

n_rows = 5
n_cols = 5
cols = tuple("ABCDE")

df = pd.DataFrame(np.random.randint(1,10,size=(n_rows,n_cols)),columns=cols)

df.add_prefix("pre_")
# df.add_suffix('_suf')

   pre_A  pre_B  pre_C  pre_D  pre_E
0      3      4      5      3      6
1      5      5      7      8      1
2      2      1      9      6      2
3      4      9      1      9      8
4      3      6      7      3      8