# Analitik dan Visualisasi Data: Pra Pemrosesan Data

## 1. Pembersihan Data

In [1]:
import numpy as np
import pandas as pd

#Data yang digunakan adalah adalah CSV (Comma Seperated value)
#standar indonesia 1.000,00 rupiah --> standar internasional 1,000.00

data_path = 'nba.csv' #lokasi datanya
nba = pd.read_csv(data_path) #read data
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 1.1 Menangani Nilai yang Kosong

In [3]:
is_na = nba.isna().any(axis=1)
nba.loc[is_na] #mereturn value record yang kosonh

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
15,Bojan Bogdanovic,Brooklyn Nets,44.0,SG,27.0,6-8,216.0,NaN,3425510.0
20,Sergey Karasev,Brooklyn Nets,10.0,SG,22.0,6-7,208.0,NaN,1599840.0
...,...,...,...,...,...,...,...,...,...
447,Rudy Gobert,Utah Jazz,27.0,C,23.0,7-1,245.0,NaN,1175880.0
450,Joe Ingles,Utah Jazz,2.0,SF,28.0,6-8,226.0,NaN,2050000.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### 1.1.1 Menghapus Nilai Kosong

##### 1.1.1.1 Menghapus Nilai Kosong Menggunakan Any dan Secara Horizontal

In [4]:
nba_any = nba.dropna(axis=0, how='any') #axis 0 --> horizontal
nba_any.shape[0]

364

##### 1.1.1.2 Menghapus Nilai Kosong Menggunakan All dan Secara Horizontal

In [5]:
nba_any = nba.dropna(axis=0, how='all')
nba_any.shape[0]

457

##### 1.1.1.3 Menghapus Nilai Kosong Menggunakan Any dan Secara Vertical

In [10]:
nba_any = nba.dropna(axis=1, how='any') #axis 0 --> vertical
nba_any.shape[0]

458

##### 1.1.1.4 Menghapus Nilai Kosong Menggunakan All dan Secara Vertical

In [11]:
nba_any = nba.dropna(axis=1, how='all')
nba_any.shape[0]

458

#### 1.1.2 Mengisi Nilai

##### 1.1.2.1 Mengisi dengan Nilai yang Ditentukan

In [12]:
#mengisi nilai kosong dengan nilai 10 --> fillna(10)
# mengisi kolom number yang awalnya NaN mnejadi nilai 10

is_na = nba[nba.isnull().any(axis=1)].index #vertical metode any
nba.loc[:,'Number'].fillna(10)

0       0.0
1      99.0
2      30.0
3      28.0
4       8.0
       ...
453     8.0
454    25.0
455    21.0
456    24.0
457    10.0
Name: Number, Length: 458, dtype: float64

In [13]:
nba.loc[is_na, 'Number']

2      30.0
4       8.0
5      90.0
15     44.0
20     10.0
       ...
447    27.0
450     2.0
454    25.0
455    21.0
457     NaN
Name: Number, Length: 94, dtype: float64

##### 1.1.2.2 Mengisi dengan Nilai Setelahnya

In [14]:
is_na = nba[nba.isnull().any(axis=1)].index
print(nba.iloc[is_na])
replaced_nba = nba.fillna(method='bfill')
print(replaced_nba.iloc[is_na])

                 Name            Team  Number Position   Age Height  Weight  \
2        John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
4       Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
5        Amir Johnson  Boston Celtics    90.0       PF  29.0    6-9   240.0
15   Bojan Bogdanovic   Brooklyn Nets    44.0       SG  27.0    6-8   216.0
20     Sergey Karasev   Brooklyn Nets    10.0       SG  22.0    6-7   208.0
..                ...             ...     ...      ...   ...    ...     ...
447       Rudy Gobert       Utah Jazz    27.0        C  23.0    7-1   245.0
450        Joe Ingles       Utah Jazz     2.0       SF  28.0    6-8   226.0
454         Raul Neto       Utah Jazz    25.0       PG  24.0    6-1   179.0
455      Tibor Pleiss       Utah Jazz    21.0        C  26.0    7-3   256.0
457               NaN             NaN     NaN      NaN   NaN    NaN     NaN

               College      Salary
2    Boston University         NaN
4                  NaN   5000000.0
5                  NaN  12000000.0
15                 NaN   3425510.0
20                 NaN   1599840.0
..                 ...         ...
447                NaN   1175880.0
450                NaN   2050000.0
454                NaN    900000.0
455                NaN   2900000.0
457                NaN         NaN

[94 rows x 9 columns]
                 Name            Team  Number Position   Age Height  Weight  \
2        John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
4       Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
5        Amir Johnson  Boston Celtics    90.0       PF  29.0    6-9   240.0
15   Bojan Bogdanovic   Brooklyn Nets    44.0       SG  27.0    6-8   216.0
20     Sergey Karasev   Brooklyn Nets    10.0       SG  22.0    6-7   208.0
..                ...             ...     ...      ...   ...    ...     ...
447       Rudy Gobert       Utah Jazz    27.0        C  23.0    7-1   245.0
450        Joe Ingles       Utah Jazz     2.0       SF  28.0    6-8   226.0
454         Raul Neto       Utah Jazz    25.0       PG  24.0    6-1   179.0
455      Tibor Pleiss       Utah Jazz    21.0        C  26.0    7-3   256.0
457               NaN             NaN     NaN      NaN   NaN    NaN     NaN

               College      Salary
2    Boston University   1148640.0
4                  LSU   5000000.0
5                  LSU  12000000.0
15      Oklahoma State   3425510.0
20          Cincinnati   1599840.0
..                 ...         ...
447             Butler   1175880.0
450             Dayton   2050000.0
454             Kansas    900000.0
455             Kansas   2900000.0
457                NaN         NaN

[94 rows x 9 columns]

##### 1.1.2.2 Mengisi dengan Nilai Sebelumnya

In [15]:
is_na = nba[nba.isnull().any(axis=1)].index
print(nba.iloc[is_na])
replaced_nba = nba.fillna(method='pad')
print(replaced_nba.iloc[is_na])

                 Name            Team  Number Position   Age Height  Weight  \
2        John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
4       Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
5        Amir Johnson  Boston Celtics    90.0       PF  29.0    6-9   240.0
15   Bojan Bogdanovic   Brooklyn Nets    44.0       SG  27.0    6-8   216.0
20     Sergey Karasev   Brooklyn Nets    10.0       SG  22.0    6-7   208.0
..                ...             ...     ...      ...   ...    ...     ...
447       Rudy Gobert       Utah Jazz    27.0        C  23.0    7-1   245.0
450        Joe Ingles       Utah Jazz     2.0       SF  28.0    6-8   226.0
454         Raul Neto       Utah Jazz    25.0       PG  24.0    6-1   179.0
455      Tibor Pleiss       Utah Jazz    21.0        C  26.0    7-3   256.0
457               NaN             NaN     NaN      NaN   NaN    NaN     NaN

               College      Salary
2    Boston University         NaN
4                  NaN   5000000.0
5                  NaN  12000000.0
15                 NaN   3425510.0
20                 NaN   1599840.0
..                 ...         ...
447                NaN   1175880.0
450                NaN   2050000.0
454                NaN    900000.0
455                NaN   2900000.0
457                NaN         NaN

[94 rows x 9 columns]
                 Name            Team  Number Position   Age Height  Weight  \
2        John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
4       Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
5        Amir Johnson  Boston Celtics    90.0       PF  29.0    6-9   240.0
15   Bojan Bogdanovic   Brooklyn Nets    44.0       SG  27.0    6-8   216.0
20     Sergey Karasev   Brooklyn Nets    10.0       SG  22.0    6-7   208.0
..                ...             ...     ...      ...   ...    ...     ...
447       Rudy Gobert       Utah Jazz    27.0        C  23.0    7-1   245.0
450        Joe Ingles       Utah Jazz     2.0       SF  28.0    6-8   226.0
454         Raul Neto       Utah Jazz    25.0       PG  24.0    6-1   179.0
455      Tibor Pleiss       Utah Jazz    21.0        C  26.0    7-3   256.0
457       Jeff Withey       Utah Jazz    24.0        C  26.0    7-0   231.0

               College      Salary
2    Boston University   6796117.0
4        Georgia State   5000000.0
5        Georgia State  12000000.0
15      North Carolina   3425510.0
20        Georgia Tech   1599840.0
..                 ...         ...
447       Georgia Tech   1175880.0
450               Duke   2050000.0
454             Butler    900000.0
455             Butler   2900000.0
457             Kansas    947276.0

[94 rows x 9 columns]

### 1.2 Menghapus Data yang Duplikat

In [16]:
#data duplikat adalah redundan data yang sama

duplicated = nba.append(nba.iloc[[-2]])
duplicated

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [27]:
duplicated_nba = duplicated.duplicated()
duplicated_nba

0      False
1      False
2      False
3      False
4      False
       ...
454    False
455    False
456    False
457    False
456     True
Length: 459, dtype: bool

In [18]:
duplicated.drop(duplicated[duplicated_nba].index)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
nba_duplicated_free = nba.drop_duplicates()
nba_duplicated_free

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 1.3 Standarisasi Data

In [20]:
iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', delimiter=',',names=['sepal_length','sepal_width','petal_length','petal_width','class'])

In [21]:
code = 1
for i in iris.loc[:,'class'].unique():
  iris['class'].loc[iris['class']==i] = code
  code += 1
iris

C:\Users\Ay\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

     sepal_length  sepal_width  petal_length  petal_width class
0             5.1          3.5           1.4          0.2     1
1             4.9          3.0           1.4          0.2     1
2             4.7          3.2           1.3          0.2     1
3             4.6          3.1           1.5          0.2     1
4             5.0          3.6           1.4          0.2     1
..            ...          ...           ...          ...   ...
145           6.7          3.0           5.2          2.3     3
146           6.3          2.5           5.0          1.9     3
147           6.5          3.0           5.2          2.0     3
148           6.2          3.4           5.4          2.3     3
149           5.9          3.0           5.1          1.8     3

[150 rows x 5 columns]

In [22]:
iris['class'] = iris['class'].astype('int64')
iris

     sepal_length  sepal_width  petal_length  petal_width  class
0             5.1          3.5           1.4          0.2      1
1             4.9          3.0           1.4          0.2      1
2             4.7          3.2           1.3          0.2      1
3             4.6          3.1           1.5          0.2      1
4             5.0          3.6           1.4          0.2      1
..            ...          ...           ...          ...    ...
145           6.7          3.0           5.2          2.3      3
146           6.3          2.5           5.0          1.9      3
147           6.5          3.0           5.2          2.0      3
148           6.2          3.4           5.4          2.3      3
149           5.9          3.0           5.1          1.8      3

[150 rows x 5 columns]

In [23]:
from sklearn_pandas import DataFrameMapper

iris_standarded = StandardScaler().fit_transform(iris.iloc[:,:4])
iris_standarded = pd.DataFrame(iris_standarded)
iris_standarded = pd.concat([iris_standarded, iris['class']], ignore_index=True, axis=1)
iris_standarded.columns = iris.columns
iris_standarded

ModuleNotFoundError: No module named 'sklearn_pandas'

### 1.3 Reduksi Data

#### 1.3.1 Uji Korelasi antar Fitur

In [24]:
import matplotlib.pyplot as plt
import seaborn as sns
iris_corr = iris_standarded.corr()
plt.figure(figsize=(12,10))
sns.heatmap(iris_corr, annot=True, cmap=plt.cm.Reds)
plt.show()

NameError: name 'iris_standarded' is not defined

In [ ]:
iris_class_corr = abs(iris_corr['class'].drop(['class']))
iris_class_corr

In [ ]:
iris_class_corr_index = iris_class_corr[iris_class_corr>0.5].index
iris_reduction = iris_standarded[iris_class_corr_index]
iris_reduction['class'] = iris['class']
iris_reduction

### 1.4 Mengidentifikasi atau Menghapus Outlier

In [ ]:
quantile = iris_reduction.quantile([0.25, 0.75])
quantile = quantile.drop('class', axis=1)
quantile

In [ ]:
iqr = quantile.iloc[1]-quantile.iloc[0]
iqr = iqr.drop('class')

In [ ]:
quantile.loc[0.25] = quantile.loc[0.25]-iqr*1.5
quantile.loc[0.75] = quantile.loc[0.75]+iqr*1.5

# for col in iqr.index:
#   print(iris_redcution[iris_reduction[col]<quantile.loc[0.25,col] & iris_redcution[col]>quantile.loc[0.75,col]])
#   break

lower = iris_reduction['sepal_length']<quantile.loc[0.25,'sepal_length']
upper = iris_reduction['sepal_length']>quantile.loc[0.75,'sepal_length']
iris_reduction[(lower & upper)]

### 1.5 Mengatasi Inkonsistensi

## 2. Integrasi Data

## 3. Transformasi Data

## 4. Reduksi Data

## 5. Diskritisasi Data